body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAvbar css */
.icon{
  margin-right: 23px;
}
.mi{
  margin-right: 16px; 
 }
.postbtn{
  color:white;
  background-color:#5AB2FF;
  width:220px;
  height:50px;
  text-align: center;
  padding-top:10px;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 8px;
}
.navbar-link{
 
  color: white;
  font-size: 20px;
  margin-top: 4px;

}


/* home page */
.heading{
  color: white;
  height: 55px;
  width: 290px;
  display: flex;
  justify-content:center;
  padding-top: 14px;
  border-bottom: 1px rgb(54, 54, 54) solid;
}
.heading {
  text-decoration: none;
  color: white; /* Default link color */
  position: relative;
  padding-bottom: 5px; /* Add some space below the text */
}

.heading.active::after {
  content: '';
  position: absolute;
  
  left: 122px;
  right: 0;
  bottom: 0;
  height: 4px; /* Thickness of the pill underline */
  width: 60px;
  background-color: #007bff; /* Active link color */
  border-radius: 3px; /* Make the underline pill-shaped */
}
.what{
  font-size:21px;
  color: rgb(118, 115, 115);
}
.post{
  width: 580px;
  padding-bottom: 48px;
  border-bottom:1px rgb(54, 54, 54) solid ;
  height: 45px;
  margin-top:16px;
}
.homeimg{
padding-right: 20px;
padding-top: 8px;

}
.he{
  margin-left: 55px;
}
.bt{
  margin-right: -220px;
}